.quotes__wrapper, .quotes {
  margin: 0 1.25em 1em;
}

.quotes__wrapper {
  margin-bottom: 1.8em;
  text-align: center;
}

.quotes {
  position: relative;
  padding-left: 50px;
  transition: border-color 1s;
  border-left: 4px solid var(--light-color);
}

.quotes > svg {
  position: absolute;
  top: 0;
  left: 15px;
  transition: 1s fill;
  fill: var(--light-color);
}

.quote{
  margin-top: 0;
  font-weight: 500;
  font-size: 1.75em;
}


.quote__right {
  color: gray;
  fill: currentColor;
}

.quotes__author {
  font-size: 1.1em;
  cursor: pointer;
  text-align: right;
  margin-right: 20px;
  margin-right: 1.25em;
}