.spinner__container {
  margin: 2em 0;
}

.spinner {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  margin: 0 auto 1em;
  border: 15px solid var(--light-color);
  border-top-color: var(--dark-color);
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}
